@import "tailwindcss";

@theme {
  --color-pink: #f8eeff;
  --color-text-color: #8b6990;
  --color-hover-color: #ad28eb;
  --color-dark-purple: #301534;
  --breakpoint-sm: 390px;
  --breakpoint-md: 600px;
}

.custom-shadow {
  box-shadow: 0 7px 9px 8px rgba(0, 0, 0, 0.053);
}

body {
  background-color: #f8eeff;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
